<p id="notice"><%= notice %></p>

<h1>Coding Ninjas</h1>
<p>
  <%= link_to "Courses", courses_path %><br>
  <%= link_to "Batches", batches_path %><br>
  <%= link_to "Team Member", team_members_path %><br>
  <%= link_to "Events", events_path %><br>
</p>
