<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @event.speaker %>
</p>


<h2>Images</h2>
<% @event.event_images.each do |event_image| %>
    <p>
      <%= image_tag(event_image.image.url , width: 100) do %>
      <% end %>
    </p>

    <%= link_to 'Delete Image', [event_image.event, event_image],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>

<% end %>

<h2>Add an Image:</h2>
<%= form_for([@event, @event.event_images.build]) do |i| %>
    <p>
      <%= i.label :image %><br>
      <%= i.file_field :image %>
    </p>
    <p>
      <%= i.submit %>
    </p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
