<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @batch.course.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @batch.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @batch.price %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @batch.start_date %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @batch.schedule %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @batch.strength %>
</p>

<p>
  <strong>Status:</strong>
  <%= @batch.status %>
</p>

<h2>Instructors</h2>
<p></p>
<% @batch.team_members.each do |instructor| %>
    <%= instructor.name %><br>
<% end %>
</p>
<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
